<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <img src='/images/transposer.png'>  
      <h1><%= title %></h1>
      <!-- place holder for future hamburger menu item -->
      <p></p>
    </header>
    <main>
      <div id="originalSong" class="gridOriginalSong">
        <h2>original song</h2>
        <form action="/" method="post" id="originalSongForm">
          <textarea name="originalSong" cols="60" rows="20"></textarea>
        </form> 
      </div>
      <div id="transposedSong" class="gridTransposedSong">
        <h2>transposed song</h2>
        <input type="submit" value="transpose" form="originalSongForm">
        <textarea name="transposedSong" cols="60" rows="20"></textarea>
      </div>
    </main>
  </body>
</html>
