<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <img src='/images/transposer.png'>  
      <h1><%= title %></h1>
      <!-- place holder for future hamburger menu item -->
      <p></p>
    </header>
    <div id="originalSong">
      <h2>original song</h2>
      <textarea name="originalSong" cols="80" rows="20">happy birthday[C]</textarea>
    </div>
    <div id="transposedSong">
      <h2>transposed song</h2>
      <textarea name="transposedSong" cols="80" rows="20">happy birthday[G]</textarea>
    </div>
  </body>
</html>
