<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <img src="/images/transposer.png">  
      <h1><%= title %></h1>
      <!-- place holder for future hamburger menu item -->
      <p></p>
    </header>
    <form action="/transpose" method="post">
      <div class=labelOriginal>
        <p>original song</p>
      </div>
      <div class=labelTransposed>
        <p>transposed song</p>
      </div>
      <div class=hamburgerDropdown>
        <img src="/images/hamburger24.png">
      </div>
      <div class=songKeyDropdown>  
        <p>original key dropdown</p>
      </div>
      <div class=transposeKeyDropdown>
        <p>transpose key dropdown</p>
      </div>  
      <div class=transposeButton>
        <input type="submit" value="transpose">
      </div>  
      <div class="originalSong">
        <textarea id="originalSong" name="originalSong" cols="60" rows="24">
          Happy birthday to you

          [F]Happy birthday to [C]you
          happy birthday to [F]you
          happy birthday [C]dear [Bb](NAME)
          [Bb]happy [F]birthday [C]to [F]you
        </textarea>
      </div>
      <div class="transposedSong">
        <textarea class="whitesmoke" name="transposedSong" cols="60" rows="24" color="lightgrey" >
          Happy birthday to you

          [F]Happy birthday to [C]you
          happy birthday to [F]you
          happy birthday [C]dear [Bb](NAME)
          [Bb]happy [F]birthday [C]to [F]you          
        </textarea>
      </div>   
    </form>
    <footer>
      <p class="right"><%= message %></p>
    </footer>
  </body>
</html>
