body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightblue;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(37, 37, 236); 
}

main {
  display: grid;
  grid-template-columns: auto auto;
}

.gridOriginalSong {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 5px;
}

.gridTransposedSong {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 5px;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  text-align: center;
}

a {
  color: #00B7FF;
}

#originalSong {
  background-color: lightgray;
}

#transposedSong {
  background-color: grey;
}

