h1 {
  color: white;
  text-align: center;
}

p {
  text-align: center;
}

.right {
  text-align: right;
}

a {
  color: #00B7FF;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  vertical-align: middle;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(37, 37, 236); 
}

form {
  display: grid; 
  grid-template-columns: repeat(4fr);
  grid-auto-rows: auto;
  grid-auto-rows: 24px;
  background-color: lightsteelblue;
}

.dropdown {
  float: left;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburgerDropdown {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  text-align: left;
}

.songKeyDropdown {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  align-items: center;
  justify-items: center;
  color: blue;
}

.transposeKeyDropdown {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 4;
  display: flex;
  align-items: center;
  justify-items: center;
  color: blue;
}

.transposeButton {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 4;
  grid-column-end: 5;
  padding: 1px 2px;
  /* text-align: right; */
  text-decoration: none;
  display: inline-block;
}

.labelOriginal {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  align-items: center;
  /* seems no way of centering the text horizontally */
  color: white;
  background-color: grey;
}

.labelTransposed {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 5;
  /* BOGUS text-align: center; */
  display: flex;
  align-items: center;
  color: white;
  background-color: grey;
}

.originalSong {
  width: 100%;
  grid-row-start: 3;
  grid-row-end: 24;
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
}

.transposedSong {
  grid-row-start: 3;
  grid-row-end: 24;
  grid-column-start: 3;
  grid-column-end: 5;
  display: flex;
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  color: lightblue;
}

.whitesmoke {
  background-color: whitesmoke;
}

textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  width: 100%;
}

footer {
  background-color: lightsteelblue;
}
